.places {
  max-width: 100%;
  margin: 0 148px;
}

@media (max-width: 1170px) {
  .places {
    margin-right: 48px;
    margin-left: 48px;
  }
}

@media (max-width: 800px) {
  .places {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 400px) {
  .places {
    margin-left: 0;
    margin-right: 0;
  }
}
