.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

@media (max-width: 1170px) {
  .header {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .header {
    max-width: 720px;
  }
} ;
