.lead__image {
  margin: 64px 0 8px;
  max-width: 984px;
  min-width: 320px;
  height: 615px;
}

@media (max-width: 400px) {
  .lead__image {
    max-width: 320px;
    height: 200px;
  }
}

@media (max-width: 800px) {
  .lead__image {
    max-width: 768px;
    height: 480px;
  }
}

@media (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
    height: 580px;
    margin-top: 56px;
  }
}
