.footer__list-link {
  font-size: 16px;
  line-height: 18px;
  font-family: inter, Arial, sans-serif;
  margin-right: 18px;
}

.footer__list-link:nth-child(5) {
  margin-right: 0;
}

@media (max-width: 700px) {
  .footer__list-link {
    margin-bottom: 32px;
    margin-right: 0;
  }

  .footer__list-link:nth-child(5) {
    margin-bottom: 48px;
  }
}

@media (max-width: 400px) {
  .footer__list-link {
    font-size: 24px;
    line-height: 24px;
  }
}
