.cover {
  background-image: url(../../sprint-3-images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 740px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
}

.cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  background: #2a2c2f;
  z-index: -1;
  transition: opacity 0.5s linear;
}

.cover:hover::after {
  opacity: 0.8;
  background: #2a2c2f;
}

@media (max-width: 1170px) {
  .cover {
    min-height: 640px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .cover {
    min-height: 480px;
  }
}

@media (max-width: 550px) {
  .cover {
    justify-content: start;
  }
}

@media (max-width: 400px) {
  .cover {
    min-height: 200px;
    justify-content: center;
  }
}
