.cover {
  background-image: url(../../sprint-3-images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 1184px;
  height: 740px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

.cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  background: #2a2c2f;
  z-index: -1;
}

.cover:hover::after {
  opacity: 0.8;
  background: #2a2c2f;
}
